.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
  justify-items: center;
}

.category-title {
  font-size: 28px;
  margin-bottom: 70px;
  text-align: center;
}
